body {
  background: white;
  margin: 0px;
}

.loading-title {
  font-size:  100px;
  color: white;
  text-align: center;
  padding-top: 75px;
}

.load-screen {
  background-image: url('../images/astronaut.gif'),
                    url('../images/space-background.jpeg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  position: absolute;
  font-family: 'Share Tech Mono', monospace;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
}

nav {
  background-image: url('../images/space-background.jpeg');
  color: white;
  height: 150px;
  width: 100%;
  margin: 0px;
  font-family: 'Share Tech Mono', monospace;
  font-size: 80px;
  text-align: center;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.date-picker {
  font-size: 300px;
  color: white;
}

main {
  width: 100%;
  text-align: center;
}

.card {
  display: inline-block;
  position: relative;
  border: solid black 5px;
  height: 600px;
  width: 400px;
  overflow: hidden;
  margin-top: 25px;
  margin-left: 25px;
  border-radius: 25px;
  overflow: scroll;
  -webkit-box-shadow: 0px 8px 17px -2px #000000; 
  box-shadow: 0px 8px 17px -2px #000000;
}

.card ::-webkit-scrollbar {
  width: 20px;
}

.card ::-webkit-scrollbar-track {
  background-color: transparent;
}

.card ::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.card ::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.card-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  max-width: 90%;
  max-height: 300px;
}

input {
  cursor: pointer;
  width: 90px;
  border: none;
  height: 200px;

}

.unlike {
  background: url('../images/unlike.svg');
  bottom: 10px;
  height: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.like {
  background-image: url('../images/like.svg');
  background-color: white;
  bottom: 10px;
  height: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-description {
  margin-left: 20px;
  margin-right: 20px
}

.title {
  font-family: 'Share Tech Mono', monospace;
  font-size: 30px;
  text-align: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.description {
  font-size: 20px;
  text-align: left;
}

.date {
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}
